body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #fafafa;
}

p {
	margin-top: 0;
	text-align: left;
	text-align: center;
}

ul {
	list-style-type: none;
}

header {
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	text-align: center;
}

header h1 {
	font-family: 'Cabin Sketch', cursive;
	font-size: 4em;
	margin: 25px;
	color: #f7360a;
}

header p {
	margin: 25px;
	font-size: .9em;
	font-style: italic;
	color: #888;
}

footer {
	padding: 50px;
	margin-top: 30px;
	background: #fff;
	text-align: center;

}

.btn-group {
	text-align: center;
}

#wrapper {
	position: relative;
	width: 800px;
	margin: 0 auto;
}

#stage {
	background: white;
	padding: 5px;
	display: none;
	border: solid 1px #e5e5e5;
	-webkit-box-shadow: 0 0 300px rgba(0, 0, 0, .1);
	margin: 0 0 20px;
	-webkit-border-radius: 2px;
}

#framerate {
	position: absolute;
	right: 15px;
	top: 15px;
	color: #aaa;
}

#framerate-counter {
	opacity: .5;
}